.navbar .brand {
    --brand-color: #ffffff;
    --brand-hover-color: var(--nav-light-link-hover-color);
}

.bg-toc {
    --background-color: var(--palette-primary-lightest);
}

.bg-toc-plsql {
    --background-color: var(--palette-violet-lightest);
}

.text-light-mid {
  --text-color: var(--palette-white-70);
}

.section-block:nth-child(odd) {
   background-color: var(--palette-white);
}

.section-block:nth-child(even) {
   background-color: var(--palette-positive-light);
}