<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="author" content="orasql.ru">
<title>{{ if .Title}} {{ .Title }} {{else}} Учебник Oracle SQL, PL/SQL {{ end }}</title>
<link rel="stylesheet" href="./assets/superkube.min.css">
<link rel="stylesheet" href="./assets/main.css">
<script>var clicky_site_ids = clicky_site_ids || []; clicky_site_ids.push(101305633);</script>
<script async src="//static.getclicky.com/js"></script>
</head>
<body>



<div class="navbar bg-dark mb-10" >
    <div class="navbar-container container edges centered">
        <div class="navbar-brand">
            <a href="#" class="brand">
                Orasql.ru
            </a>
        </div>
        
        <div class="navbar-nav ml-6">
            <nav class="nav nav-light nav-semibold">
                        <ul class="nav-list">
                            <li class="nav-item"><a href="./book/index.html" class="nav-link">Книга</a></li>
                        </ul>
                    </nav>

            <nav class="nav nav-light nav-semibold">
                <ul class="nav-list">
                    <li class="nav-item"><a href="https://github.com/cyevgeniy/orasqlru" class="nav-link">Github</a></li>
                </ul>
            </nav>
        </div>
    </div>
</div>

{{ .Content }}


<footer class="footer b-dark-low b-top">
    <div class="footer-container container centered edges">
        <div class="footer-body mt-10">
        <nav class="nav nav-muted nav-menu-sm"><ul class="nav-list">
        <li class="nav-item "><a href="index.html" class="nav-link">Orasql.ru</a></li>
        <li class="nav-item "><a href="index.html" class="nav-link">Учебник</a></li>
        <li class="nav-item "><p class="text-medium text-moderated">Email: orasqlru@gmail.com</p></li>
</ul>
</nav>
</div>
        <div class="footer-copy mt-6 pt-6 b-dark-7 b-top">
            <p class="text-medium text-moderated">© Orasql.ru <br> 2019-2021</p>
        </div>
    </div>
</footer>
</body>
</html>
